
a {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: underline;
    text-underline-offset: 4px;
    line-height: 24.5px
    
  }
  
  .header_list {
    display: grid;
    grid-template-columns: 2fr auto 2fr;
    padding: 95px 50px 91px;
    align-items: center;
  }
  
  .header_left {
      display: flex;
      gap: 33px;
      list-style: circle;
        
  }
  
  .none-excess {
      list-style: none;
      text-decoration: none;
      display: block;
      
  }
  
  .no-underline {
    text-decoration: none;
  }
  
  .header_centre {
    width: 148px;
    height: 105px;
    justify-self: center;
  }
  
  .header_right {
    width: 240px;
    justify-self: end;
    line-height: normal;
  
  }
  
  .jambotron {
    min-width: 100%;
    min-height: 757px;
    position: relative;
    background-image: url(../images/lotus-flower.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
    background: #000;
    height: 100%;
    width: 100%;
  }
  
  .cover_title {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 170px 50px 143px;
    gap: 20px;
    color: #fff;
    font-size: 100px;
    font-weight: 700;
    line-height: 115%;
    letter-spacing: 30px;
    text-transform: uppercase;
  }
  
  .title_left {
    display: flex;
    align-self: start;
    font-style: normal;
  
  }
  
  .title_enlarged {
    letter-spacing: 60px;
  }
  
  .title_centre {
    display: flex;
    align-self: center;
    line-height: 100%;
  }
  
  .title_end {
    display: flex;
    align-self: end;
    line-height: 100%;
  }
  
  .no_letter_spacing {
    letter-spacing: 0;
  }
  
  .subline {
    display: flex;
    justify-content: flex-end;
    position: relative;
    gap: 79px;
    padding-right: 50px;
      
  }
  
  .subline_text {
    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 18px;
    }
  
  .rectangle {
    border: 1px solid #FFF;
    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    padding: 12px 32px;
    background: transparent;
    margin-top: -12px;
  }
  
  .lots {
    padding-top: 179px;
    padding-left: 24px;
    padding-right: 24px;
  }
  
  .lots_header {
    padding-left: 40px;
    padding-bottom: 27px;
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }
  
  .lots_card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding-bottom: 30px;
    list-style: none;
  }
  
  .lots_card-list-item {
    width: 334px;
    min-height: 563px;
    flex-grow: 1;
  }
  
  .card-link {
    display: block;
    height: 100%;
    text-decoration: none;
  }
  
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 51px 48px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
  }
  
  .card_title {
    z-index: 1;
    color: #fff;
    font-size: 22px;
    line-height: 120%;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-transform: uppercase;
    min-width: 254px;
    flex-shrink: 0;
  }
  
  .card_text {
    color: #fff;
    z-index: 1;
    font-size: 20px;
    line-height: 23px;
    min-width: 254px;
  }
  
  .etc {
    letter-spacing: 2.6px;
  }
  
  .card_film {
    background-image: url(../images/lots_film_full.jpeg);
  }
  
  .card_book {
    background-image: url(../images/lots_book_full.png);
  }
  
  .card_picture {
    background-image: url(../images/lots_pictire_full.png);
  }
  
  .lots_see-more-link {
    padding-left: 40px;
    font-size: 20px;
    line-height: 1.15;
    text-decoration: underline;
    text-underline-offset: 4px;
  }
  
  
  .about {
    display: grid;
    grid-template-columns: 383px 1fr;
    padding-top: 184px;
    padding-right: 24px;
  }
  
  .about_column {
    justify-self: center;
  }
  
  .about_logo {
    border-radius: 50%;
    width: 240px;
    height: 240px;
    background-color: #000;
  }
  
  .about_logo-image {
    display: block;
    margin: 0 auto;
    height: 100%;
    width: 148px;
  }
  
  .about_title {
    padding: 100px 0 100px;
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }
  
  .about_text {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    padding-bottom: 22px;
  }
  
  .end_text {
    padding-bottom: 0;
  }
  
  .footer {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    justify-content: space-between;
    padding: 172px 50px 88px 50px;
    
  }
  
  .footer_centre {
    text-align: center;
    list-style: none;
  }
  
  .footer_rignt {
    display: flex;
    justify-content: flex-end;
    gap: 48px;
    list-style: none;
  }
  
  .footer_socials-icon {
      width: 48px;
      height: 48px;
    
  }
